footer
    div(class="d-flex flex-column flex-md-row justify-content-around align-items-center py-3 mt-5 bg-dark")
        div.text-light © 2019 Projecteur, Inc.
        div.text-light Coded with #[img(src="/images/heart.png", alt="Heart logo", width="20", height="20")] by Tom