extends layout.pug

block content

    div.mb-4
        h2 Sign in

    if error
        div.alert.alert-danger #{errorMessage}
    form(method='POST' action='/login')
        div.form-group
            input.form-control(type='email' name='email' placeholder='Email' required)
        div.form-group
            input.form-control(type='password' name='password' placeholder="Password" required)
        button.btn.btn-success(type='submit') Sign in



